body {
    align-content: center;
    margin: 0;
}

* {
    font-family: 'Poppins', sans-serif;
}

.btn-box {
    background-color: #9befed;
    height: 100px;
    width: 100%;
}



html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 150px;
}


.center {
    text-align: center;
    justify-content: center;
    display: flex;
}

.center2 {
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 30%;
}

#decenter {
    text-align: left;
    justify-content: left;
    display: flex;
}

.create-btn {
    font-size: 16px;
    color: white;
    border: solid 3px white;
    background-color: #29d9dc;
    border-radius: 60px;
    position: relative;
    margin-top: -25px;
    height: 50px;
    width: 150px;
    cursor: pointer;
}

.btn {
    font-size: 16px;
    color: white;
    border: solid 3px white;
    background-color: #29d9dc;
    border-radius: 60px;
    position: relative;
    height: 50px;
    width: 150px;
    margin-top: 25px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0c989b;
    color: whitesmoke;
}

.btn-divider {
    width: 25px;
}

.logo {
    background-color: #9befed;
    color: white;
    height: 100px;
    width: 100px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: absolute;

    left: 0;
    top: 0;
}

.row {
    margin-left: 25px;
    width: 600px;
    height: 25px;
    position:relative;
    display:block;
    text-align: left;
}

.container {
    text-align: left;
    margin-top: 25px;
    width: 800px;
    background-color: whitesmoke;
}

.content-box {
    margin-bottom: 25px;
    text-align: center;
    width: 800px;

}



.dropbtn {
    background-color: #9befed;
    color: white;
    height: 100px;
    width: 200px;
    font-size: 20px;
    border: none;
}

.add-wish-btn {
    height: 50px;
    border-radius: 10px;
    width: 300px;
    border: 3px solid grey;
    display: inline;
    background-color: #29d9dc;
    font-size: 25px;
    color: white;
    cursor: pointer;
    margin:25px;
}

.add-wish-btn:hover {
    background-color: #0c989b;
}

.wish-btn-container {
    height: 100px;
    width: 800px;
    float:left;
    background-color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #29d9dc;;}

* {
    box-sizing: border-box;
}



/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}

.wishlist-object {
    clear:both;
    width: 800px;
    background-color: #9befed;
    border-radius: 30px;
}

.wishlist-object:hover {
    background-color: #0c989b;
    color: white;
}



.wishlist-name {
    font-size:20px;
    height: 30px;
    width: 800px;
    background-color: #29d9dc;
    color: white;
}

a, u {
    text-decoration: none;
}


.wishlist-notes {
    margin-top: 5px;
    height: 120px;
    width: 600px;
    position: relative;
   left:100px;


}

.object-divider {
    height: 25px;
}

.wishlist-options {
    position:relative;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    float: right;
}
