<!DOCTYPE html>
<html>
<head>
    <meta name=viewreport" content="with=device-width, initalscale=1.0">
    <title>University Website Deisgn - Easy Tutorials</title>
    <link rel="stylesheet" href="static/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
</head>
<body>
<section class="header">
    <nav>
        <a href="index.html"><img src="images/Logo hjemmeside.png"></a>
        <div class="nav-links" id="navLinks">
            <i class="fas fa-times" oneclick="hideMenu()"></i>
            <ul>
                <li><a href="">HJEM</a></li>
                <li><a href="">ØNSKER</a></li>
                <li><a href="">DEL</a></li>
                <li><a href="">MIN PROFIL</a></li>
                <li><a href="">LOG UD</a></li>
            </ul>
        </div>
        <i class="fas fa-bars" oneclick="showMenu()"></i>
    </nav>

    <div class="text-box">
        <h1>Skabelon</h1>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form, by injected humour, or randomised words which don't look even slightly believable.<br>If you are
            going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
            middle of text.</p>
        <a href="" class="hero-btn">KOM I GANG</a>
    </div>

</section>

<!----Course------->

<section class="course">
    <h1>Courses We Offer</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

    <div class="row">
        <div class="course-col">
            <h3>Intermediate</h3>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,</p>
        </div>
        <div class="course-col">
            <h3>Degree</h3>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,</p>
        </div>
        <div class="course-col">
            <h3>Post Graduation</h3>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,</p>
        </div>

    </div>


</section>

<!------ Campus -------->

<section class="campus">
    <h1>Our Global Campus</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

    <div class="row">
        <div class="campus-col">
            <img src="images/london.png">
            <div class="layer">
                <h3>LONDON</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="images/newyork.png">
            <div class="layer">
                <h3>DENMARK</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="images/washington.png">
            <div class="layer">
                <h3>SWEDEN</h3>
            </div>
        </div>
    </div>

</section>

<!------ Facilities -------->

<section class="facilities">
    <h1>Our Facilities</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

    <div class="row">
        <div class="facilities-col">
            <img src="images/library.png">
            <h3>World Class Libary</h3>
            <p>>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                classical</p>
        </div>
        <div class="facilities-col">
            <img src="images/basketball.png">
            <h3>Largest PlayGround</h3>
            <p>>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                classical</p>
        </div>
        <div class="facilities-col">
            <img src="images/cafeteria.png">
            <h3>Tasty and Healthy Food</h3>
            <p>>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                classical</p>
        </div>
    </div>


</section>

<!------ Call To Action -------->

<section class="cta">
    <h1>Enroll for our various online courses<br>Anywhere From The World</h1>
    <a href="" class="hero-btn">CONTACT US</a>
</section>


<!------ Footer -------->

<section class="footer">
    <h4>About Us</h4>
    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
        Latin literature<br>from 45 BC, making it over 2000 years old. Richard McClintock,</p>
    <div class="icons">
        <i class="fas fas-facebook"></i>
        <i class="fas fas-twitter"></i>
        <i class="fas fas-instagram"></i>
    </div>
    <p>Made by Jakob Majid</p>
</section>


<!-----JavaScript for Toggle Menu----->
<script>
    var navLinks = document.getElementById(" navLinks")

    function showMenu() {
        navLinks.style.right = "0";
    }

    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script>

</body>
</html>