<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Start</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link rel="stylesheet" href="test.css">
</head>
<body>
<section class="header">
    <nav>
        <a href="#"><img src="images/Design_uden_navn_1.png"></a>
        <div class="nav-links" id="navLinks">
            <ul>
                <button th:onclick="|window.location.href='/register'|" class="btn-index">Sign up</button>
                <button th:onclick="|window.location.href='/login'|" class="btn-index">Log in</button>
            </ul>
        </div>
    </nav>

    <div class="text-box">
        <h1>WishList</h1>
        <p>Is it finally your turn to be showered with gifts, and you're wondering if there's a smart way to share your wishlist? <br>
        We've got you covered - This is a wishlist system where you can register your wishes and send your friends and family a link where they can see your wishlist and reserve what they want to get you.<br>
        How cool is that?</p>
        <a href="/register" class="hero-btn">GET STARTED</a>
    </div>
</section>
</body>
</html>