<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="test.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link href='https://css.gg/trash.css' rel='stylesheet'>


</head>

<body>
<div class="btn-box">
    <button type="button" th:onclick="|window.location.href='/menu'|" class="logo">Logo</button>
    <div class="center">

        <button type="button" class="btn" th:onclick="|window.location.href='/wishlists'|">wishlists</button>
        <div class="btn-divider"></div>
        <button type="button" class="btn" th:onclick="|window.location.href='/reservedItems'|">reserved items</button>

    </div>
    <div class="dropdown">
        <button class="dropbtn" th:text="${session.user.username}">Dropdown</button>
        <div class="dropdown-content">
            <a th:href="@{/logout}">Logout</a>
        </div>
    </div>
</div>

<div class="center">
    <div class="content-box">

        <div class="wish-btn-container">
            <a type="button" style="text-decoration: none;" th:href="@{/unreserve(id=${item.id})}" class="remove-res-btn">remove reservation</a>
        </div>

        <div class="reserved-object-inspect" >
            <div class="reserved-object-inspect-text" id="decenter">
                Wish name: <td th:text="${item.name}"></td>
                <br>
                Where: <td th:text="${item.location}"></td>
                <br>
                Notes: <td th:text="${item.notes}"></td>
                <br>
                <br>
                Recipient: <td th:text="${recipient.username}"></td>
                <br>
                Address: <td th:text="${recipient.email}"></td>
                <br>
                Phone number: <td th:text="${recipient.phone}"></td>
                <br>
                Street: <td th:text="${recipient.street}"></td>
                <br>
                City: <td th:text="${recipient.city}"></td>
                <br>
                Zip: <td th:text="${recipient.zip}"></td>
            </div>
        </div>

    </div>

</div>


</body>
</html>