<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link rel="stylesheet" href="test.css">

</head>

<body>
<header class="header2">

    <div class="center">
        <div class="square-register">
            <form name="registerVerify" action="/registerVerify" method="POST">

                <div class="col">

                    <div class="col">
                        <div class="form-group">
                            <label for="username" style="margin-top: 10px" class="control-label">Username</label>
                            <input type="text" class="form-control" maxlength="20" name="username" id="username" placeholder="username"/><br>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="password" class="control-label">Password</label>
                            <input type="text" class="form-control" name="password" id="password" placeholder="password"/><br>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="email" class="control-label">Email</label>
                            <input type="text" class="form-control" name="email" id="email" placeholder="email"/><br>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="phone" class="control-label">Phone</label>
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="phone"/><br>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="street" class="control-label">Street</label>
                            <input type="text" class="form-control" name="street" id="street" placeholder="street"/><br>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="city" class="control-label">City</label>
                            <input type="text" class="form-control" name="city" id="city" placeholder="city"/><br>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="zip" class="control-label">Zip</label>
                            <input type="text" class="form-control" name="zip" id="zip" maxlength="4" placeholder="zip"/><br>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <div class="nav-links" id="center" style="margin-top: -9px">
                                <ul>
                                    <button name="post" type="submit" value="0" class="btn-index">create account</button>
                                    <button type="button" th:onclick="|window.location.href='/login'|" class="btn-index">back</button>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
</header>
</body>
</html>

