<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in to reserve</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="test.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link href='https://css.gg/trash.css' rel='stylesheet'>



</head>

<body>
<div class="btn-box">
    <a th:href="@{/index}"><img src="images/iwishlogo1.png" class="logo"></a>
    <div class="center">

        <button type="button" class="btn" th:onclick="|window.location.href='/login'|">login</button>
        <div class="btn-divider"></div>
        <button type="button" class="btn" th:onclick="|window.location.href='/register'|">sign up</button>

    </div>
    <div class="dropdown">
        <div class="dropdown-content">
            <a th:href="@{/logout}">Logout</a>
        </div>
    </div>
</div>

<div class="center">
    <div class="container" style="border-radius: 5px; height: 200px; border: 2px solid #29d9dc">
        <h3>You have to be logged in to reserve an item.</h3>
        <div class="form-group">
            <button style="margin-top: 50px" type="button" onclick="window.history.go(-1); return false;" value="0" class="btn">back</button>
        </div>

    </div>
</div>


</body>
</html>