<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unreserved</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="test.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link href='https://css.gg/trash.css' rel='stylesheet'>

</head>
<body>
<div class="btn-box">
    <a th:href="@{/wishlists}"><img src="images/iwishlogo1.png" class="logo"></a>
    <div class="center">

        <button type="button" class="btn" th:onclick="|window.location.href='/wishlists'|">wishlists</button>
        <div class="btn-divider"></div>
        <button type="button" class="btn" th:onclick="|window.location.href='/reservedItems'|">reserved items</button>

    </div>
    <div class="dropdown">
        <button class="dropbtn" th:text="${session.user.username}">Dropdown</button>
        <div class="dropdown-content">
            <a th:href="@{/logout}">Logout</a>
        </div>
    </div>
</div>

<div class="center">
    <div class="container" style="border-radius: 5px; height: 200px; border: 2px solid #29d9dc">
        <h3>Success! Others will not be able to reserve this item.</h3> <!-- er denne tekst ikke forkert-->
        <div class="form-group">
            <button style="margin-top: 50px" type="button" th:onclick="|window.location.href='/reservedItems'|" value="0" class="btn">back</button>
        </div>

    </div>
</div>

</body>
</html>