<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="test.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link href='https://css.gg/trash.css' rel='stylesheet'>

</head>
<body>
<div class="btn-box">
    <a th:href="@{/wishlists}"><img src="images/iwishlogo1.png" class="logo"></a>
    <div class="center">

        <button type="button" class="btn" th:onclick="|window.location.href='/wishlists'|">wishlists</button>
        <div class="btn-divider"></div>
        <button type="button" class="btn" th:onclick="|window.location.href='/reservedItems'|">reserved items</button>

    </div>
    <div class="dropdown">
        <button class="dropbtn" th:text="${session.user.username}">Dropdown</button>
        <div class="dropdown-content">
            <a th:href="@{/logout}">Logout</a>
        </div>
    </div>
</div>

<div class="center">
    <div class="content-box">
        <br>
        <b><td th:text="${recipient.username}"></td></b>'s wishlist
        <br>
        <b>"<td th:text="${wishlist.name}"></td>"</b>
        <br>
        There are
        <b><td th:text="${size}"></td></b> wishes in this wishlist.
        <br>
        Reserved wishes will not show up in this list.
        <br>
        To reserve a wish, click on it!
        <br>
        <b>wishes:</b>
        <br>
        <br>
        <tr th:each="item: ${items}">
            <a type="button" style="text-decoration: none; color: black;" th:href="@{/reserve(id=${item.id})}" class="item-object">
                <img th:src="${item.imageUrl}" class="item-object-img"/>

                <div class="item-object-text">
                    <div class="item-object-name">
                        <b><td th:text="${item.name}"></td></b>
                    </div>
                    <div class="item-object-notes">
                        <td th:text="${item.notes}"></td>
                    </div>
                    <div class="item-object-location">
                        <b>located:</b> <td th:text="${item.location}"></td>
                    </div>
                    <div class="item-object-price">
                        <b><td th:text="${item.price}"></td></b>
                    </div>
                </div>

            </a>
            <div class="object-divider"></div>
        </tr>


    </div>
</div>
</body>
</html>