<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="test.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link href='https://css.gg/trash.css' rel='stylesheet'>



</head>

<body>
<div class="btn-box">
    <button type="button" th:onclick="|window.location.href='/menu'|" class="logo">Logo</button>
    <div class="center">

            <button type="button" class="btn" th:onclick="|window.location.href='/wishlists'|">wishlists</button>
            <div class="btn-divider"></div>
            <button type="button" class="btn" th:onclick="|window.location.href='/reservedItems'|">reserved items</button>

    </div>
    <div class="dropdown">
        <button class="dropbtn" th:text="${session.user.username}">Dropdown</button>
        <div class="dropdown-content">
            <a th:href="@{/logout}">Logout</a>
        </div>
    </div>
</div>

<div class="center">
    <div class="content-box">
        <div class="wish-btn-container">
            <button class="add-wish-btn" th:onclick="|window.location.href='/createWishlist'|">create wishlist</button>
            <button class="add-wish-btn" th:onclick="|window.location.href='/clearWishlists'|">clear wishlists</button>
        </div>

        <h3>Your wishlists</h3>
        <br>
        <tr th:each="wishlist: ${wishlists}">
            <a type="button" style="text-decoration: none; color: black;" th:href="@{/wishlist(id=${wishlist.id})}" class="item-object">
                <div class="wishlist-object">
                    <div class="wishlist-name">
                        <b><td th:text="${wishlist.name}"></td></b>
                    </div>
                    <div class="wishlist-notes">
                        <td th:text="${wishlist.notes}"></td>
                    </div>
                </div>
            </a>
            <div class="object-divider"></div>
        </tr>

    </div>

</div>


</body>
</html>